/* 弹窗 */
.cover {
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	opacity: 0.8;
	display: none
}

.alert {
	display: none;
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	padding: 1px;
	z-index: 99999999;
	text-align: center
}

@media (min-width: 320px) and (max-width: 610px) {
	.alert {
		width: 95%
	}
}

.alert .alert-txt {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 380px;
	text-align: center;
	top: 42%;
	font-size: 21px;
	font-weight: bold
}

@media (min-width: 458px) and (max-width: 610px) {
	.alert .alert-txt {
		position: absolute;
		top: 42%;
		width: 78%;
		margin-top: 0
	}
}

@media (min-width: 412px) and (max-width: 457px) {
	.alert .alert-txt {
		width: 80%;
		position: absolute;
		top: 42%;
		font-weight: normal;
		font-size: 1rem;
		margin-top: 0
	}
}

@media (min-width: 375px) and (max-width: 411px) {
	.alert .alert-txt {
		width: 80%;
		position: absolute;
		top: -24%;
		font-weight: normal;
		font-size: 1rem;
		margin-top: 0;
		top: 40%
	}
}

@media (min-width: 360px) and (max-width: 374px) {
	.alert .alert-txt {
		width: 80%;
		position: absolute;
		top: -31%;
		font-weight: normal;
		font-size: .9rem;
		margin-top: 0;
		top: 40%
	}
}

@media (min-width: 320px) and (max-width: 359px) {
	.alert .alert-txt {
		width: 80%;
		position: absolute;
		top: 41%;
		font-weight: normal;
		font-size: .9rem;
		margin-top: 0
	}
}

.alert .alert-h3 span {
	color: orange
}

.alert a {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 40%;
	padding: 15px 0;
	border-radius: 500px;
	color: white;
	font-size: 20px;
	letter-spacing: 5px
}

.alert a#copyUrl {
	top: 76%;
	background-image: -moz-linear-gradient(-27deg, #ef8490 0%, #e96258 100%);
	background-image: -webkit-linear-gradient(-27deg, #ef8490 0%, #e96258 100%);
	background-image: -ms-linear-gradient(-27deg, #ef8490 0%, #e96258 100%);
	box-shadow: 0px 6px 27px 0px #e9665f;
	text-decoration: none;
	width: 380px
}

.alert a#down_apk {
	top: 86%;
    background-image: -moz-linear-gradient( -27deg, rgb(255,81,47) 0%, rgb(240,152,25) 100%);
    background-image: -webkit-linear-gradient( -27deg, rgb(255,81,47) 0%, rgb(240,152,25) 100%);
    background-image: -ms-linear-gradient( -27deg, rgb(255,81,47) 0%, rgb(240,152,25) 100%);
	box-shadow: 0px 6px 27px 0px #e9665f;
	text-decoration: none;
	width: 380px
}
  
@media (min-width: 458px) and (max-width: 610px) {
	.alert a#copyUrl {
		position: absolute;
		top: 76%;
		width: 91%;
		padding: 10px 0;
		margin-top: 0
	}
}


@media (min-width: 458px) and (max-width: 610px) {
	.alert a#down_apk {
        position: absolute;
		width: 91%;
		padding: 10px 0;
		top: 85%;
		margin-top: 0
	}
}
  
@media (min-width: 412px) and (max-width: 457px) {
	.alert a#copyUrl {
		width: 91%;
		padding: 5px 0;
		top: 75%;
		margin-top: 0
	}
}

@media (min-width: 412px) and (max-width: 457px) {
	.alert a#down_apk {
		width: 91%;
		padding: 5px 0;
		top: 85%;
		margin-top: 0
	}
}
  
@media (min-width: 375px) and (max-width: 411px) {
	.alert a#copyUrl {
		width: 91%;
		padding: 4px 0;
		top: 74%;
		margin-top: 0
	}
}
  
@media (min-width: 375px) and (max-width: 411px) {
	.alert a#down_apk {
		width: 91%;
		padding: 4px 0;
		top: 84%;
		margin-top: 0
	}
}

@media (min-width: 360px) and (max-width: 374px) {
	.alert a#copyUrl {
		width: 83%;
		padding: 7px 0;
		top: 74%;
		font-size: 1rem;
		margin-top: 0
	}
}
  
@media (min-width: 360px) and (max-width: 374px) {
	.alert a#down_apk {
		width: 83%;
		padding: 7px 0;
		top: 84%;
		font-size: 1rem;
		margin-top: 0
	}
}  
@media (min-width: 320px) and (max-width: 359px) {
	.alert a#copyUrl {
		width: 83%;
		padding: 7px 0;
		top: 74%;
		font-size: 1rem;
		margin-top: 0
	}
}
@media (min-width: 320px) and (max-width: 359px) {
	.alert a#down_apk {
		width: 83%;
		padding: 7px 0;
		top: 85%;
		font-size: 1rem;
		margin-top: 0
	}
}
.alert a#copyUrl:hover {
	background-image: -moz-linear-gradient(-27deg, #ff99a5 0%, #ff6c61 100%);
	background-image: -webkit-linear-gradient(-27deg, #ff99a5 0%, #ff6c61 100%);
	background-image: -ms-linear-gradient(-27deg, #ff99a5 0%, #ff6c61 100%)
}

.alert a#down_apk:hover{
    background-image: -moz-linear-gradient( -27deg, rgb(255, 98, 67) 0%, rgb(243, 163, 48) 100%);
    background-image: -webkit-linear-gradient( -27deg, rgb(255, 98, 67) 0%, rgb(243, 163, 48) 100%);
    background-image: -ms-linear-gradient( -27deg, rgb(255, 98, 67) 0%, rgb(243, 163, 48) 100%);
}


@media (min-width: 320px) and (max-width: 610px) {
	.alert .img {
		width: 100%
	}
}

.alert #alert-close {
	display: block;
	width: 40px;
	padding: 0;
	position: absolute;
	left: 93%;
	bottom: 92%;
	transform: translateX(-50%);
	margin-top: 15px;
	opacity: .8
}

@media (min-width: 458px) and (max-width: 610px) {
	.alert #alert-close {
		width: 12%;
		margin-top: 0;
		top: 1%
	}
}

@media (min-width: 412px) and (max-width: 457px) {
	.alert #alert-close {
		width: 12%;
		top: 0
	}
}

@media (min-width: 375px) and (max-width: 411px) {
	.alert #alert-close {
		width: 10%;
		top: 0%;
		margin-top: 5px
	}
}

@media (min-width: 360px) and (max-width: 374px) {
	.alert #alert-close {
		width: 13%;
		top: 0;
		margin-top: 5px
	}
}

@media (min-width: 320px) and (max-width: 359px) {
	.alert #alert-close {
		width: 10%;
		top: 0;
		margin-top: 5px
	}
}

.alert #alert-close img {
	width: 100%
}

#copy {
	opacity: 0;
	position: absolute;
	z-index: -1
}


.alert a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 400px;
    padding: 15px 0;
    border-radius: 500px;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
}
.alert a#copyUrl{
    margin-top: 530px;
    background-image: -moz-linear-gradient( -27deg, rgb(247,151,30) 0%, rgb(255,210,0) 100%);
    background-image: -webkit-linear-gradient( -27deg, rgb(247,151,30) 0%, rgb(255,210,0) 100%);
    background-image: -ms-linear-gradient( -27deg, rgb(247,151,30) 0%, rgb(255,210,0) 100%);
    box-shadow: 0px 6px 27px 0px rgba(214, 181, 50, 0.35);
}
.alert a#copyUrl:hover{
    background-image: -moz-linear-gradient( -27deg, rgb(255, 166, 54) 0%, rgb(255, 214, 21) 100%);
    background-image: -webkit-linear-gradient( -27deg, rgb(255, 166, 54) 0%, rgb(255, 214, 21) 100%);
    background-image: -ms-linear-gradient( -27deg, rgb(255, 166, 54) 0%, rgb(255, 214, 21) 100%);
}
.alert a#down_apk{
    background-image: -moz-linear-gradient( -27deg, rgb(255,81,47) 0%, rgb(240,152,25) 100%);
    background-image: -webkit-linear-gradient( -27deg, rgb(255,81,47) 0%, rgb(240,152,25) 100%);
    background-image: -ms-linear-gradient( -27deg, rgb(255,81,47) 0%, rgb(240,152,25) 100%);
    box-shadow: 0px 6px 27px 0px rgba(214, 181, 50, 0.35);
}

.alert a#down_apk:hover{
    background-image: -moz-linear-gradient( -27deg, rgb(255, 98, 67) 0%, rgb(243, 163, 48) 100%);
    background-image: -webkit-linear-gradient( -27deg, rgb(255, 98, 67) 0%, rgb(243, 163, 48) 100%);
    background-image: -ms-linear-gradient( -27deg, rgb(255, 98, 67) 0%, rgb(243, 163, 48) 100%);
}

.alert a#alert-close{
  display: block;
  width: 40px;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  margin-top: 15px;
  opacity: .8;
  top: -1%;
  left: 92%;
}

@media(min-width: 640px){
.alert .img {
    width: 480px;
}
}

#copy{
    opacity: 0;
    position: absolute;
    z-index: -1;
}


@media (min-width: 458px) and (max-width: 604px){
  .alert .alert-h2{
    margin-top: -320px;
    width: 78%;
    font-size: .7rem;
  }
  .alert .alert-h2.h2-2{
    margin-top: -290px;
    width: 78%;
  }
  .alert .alert-s{
    margin-top: -262px;
    font-size: 0.6rem;
    width: 100%;
  }
  .alert .alert-h3{
    margin-top: -235px;
    font-size: .7rem;
    width: 87%;
  }

  .alert a#copyUrl{
      margin-top: -180px;
      width: 85%;
  }
  .alert a#down_apk{
      margin-top: -120px;
      width: 85%;
  }
  #alert-close {
    width: 12%;
  }
}

@media (min-width: 320px) and (max-width: 458px){
  .alert .alert-h2{
    margin-top: -220px;
    width: 78%;
  }
  .alert .alert-h2.h2-2{
    margin-top: -201px;
    width: 78%;
  }
  .alert .alert-s{
    margin-top: -180px;
    width: 100%;
  }
  .alert .alert-h3{
    margin-top: -160px;
    width: 80%;
  }
  .alert a#copyUrl{
    margin-top: -125px;
    width: 85%;
    padding: .3rem 0;
  }
  .alert a#down_apk{
    width: 85%;
    padding: 0.5em;
    font-size: 20px;
  }
  #alert-close {
    width: 10%;
  }
}
